
nav.navbar a.nav-link {
  pointer-events: auto !important;
  cursor: pointer !important;
  z-index: 9999;
}

nav.navbar {
  position: relative;
  z-index: 9999;
}

:host {
  display: block;
  background-color: #04040e;
  min-height: 100vh;
}